.instagram-form-wrapper {
  padding-bottom: 167px;
  background-image: url(../../img/bg-instagram-right.png);
  background-size: 922px auto;
  background-position: right bottom;
  background-repeat: no-repeat;
}
