.main-content {

}

.main-content__banner {
  width: 100%;
}

.main-content__reasons {
  width: 100%;
}

.main-content__products {
  width: 100%;
}

.main-content__advantages {
  width: 100%;
}

.main-content__instagram {
  width: 100%;
}
