.page-footer {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 71px;
  background-color: #27AE60;
}

.page-footer__wrapper {
  width: 676px;
  margin: 0 auto;
}

.page-footer__logo {
  display: inline-block;
  margin-bottom: 40px;
  font-size: 18px;
  line-height: 140%;
  font-weight: 700;
  color: #ffffff;
}

.page-footer__menu {
  display: flex;
  justify-content: start;
  margin-bottom: 40px;

  .menu__item {
    margin-right: 110px;

    &:last-child {
      margin-right: 0;
    }
  }

  .menu__link {
    color: #ffffff;
  }

  .menu__link:hover,
  .menu__link:focus {
    color: #2b2b2b;
    border-bottom: 1px solid #2b2b2b;
    outline: none;
  }

}

.page-footer__politics-list {
  display: flex;
}

.page-footer__politics-item {
  margin-right: 38px;
}

.page-footer__politics-link {
  font-size: 12px;
  line-height: 118%;
  font-weight: 400;
  color: #ffffff;

  &:hover,
  &:focus {
    color: #2b2b2b;
    outline: none;
  }
}
