.radio-slider {
  position: relative;
  padding-top: 181px;

// temp for grid
  height: 724px;
}

.radio-slider__item {

}

.radio-slider__wrapper-image {

}

// temp for grid
.radio-slider__wrapper-image {
    display: none;
}


