@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"),
    local("Open Sans"),
    url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensans.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Bold"),
    local("OpenSans-Bold"),
    url("../fonts/opensansbold.woff2") format("woff2"),
    url("../fonts/opensansbold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Light"),
    local("OpenSans-Light"),
    url("../fonts/opensanslight.woff2") format("woff2"),
    url("../fonts/opensanslight.woff") format("woff");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: local("Helvetica CE Regular"),
    local("HelveticaCE-Regular"),
    url("../fonts/HelveticaCERegular.woff") format("woff"),
    url("../fonts/HelveticaCERegular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: local("Helvetica CE Bold"),
    local("HelveticaCE-Bold"),
    url("../fonts/HelveticaCEBold.woff") format("woff"),
    url("../fonts/HelveticaCEBold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@media (min-width: 576px) {

}

/* Средние девайсы («таблетки», >= 768px) */
@media (min-width: 768px) {

}

/* Большие девайсы (десктопы, >= 992px) */
@media (min-width: 992px) {

}

/* Экстрабольшие девайсы (большие десктопы, >= 1200px) */
@media (min-width: 1200px) {

}
