// COLORS:
$color-primary:               #226bba;
$color-secondary:             #999999;
$color-success:               #3f9b70;
$color-info:                  #15233d;
$color-warning:               #bd8b38;
$color-danger:                #f44336;
$color-light:                 #e4dbd5;
$color-dark:                  #999999;

$text-color:                  #2B2B2B;
$text-color--muted:           #BFBFBF;

// FONT:


// @MEDIA
$screen-xs:                     0;
$screen-sm:                     480px;
$screen-md:                     768px;
$screen-lg:                     992px;
$screen-xl:                     1200px;
